@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    background: #1a1a1a;
}
a{
    color: white;
    text-decoration: none;
}

nav{
    width: 100%;
    display: flex;
    padding: 1rem 5%;
    background: ;
    border-bottom: 0px solid black;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
}
.nav-items{
    list-style: none;
    gap: 2rem;
    display: flex;
}
ul .li a{
    transition: 0.5s;
}
ul li a:hover{
    color: rgb(241, 225, 0);
}

.logo{
    font-size: 25px;
    font-weight: 700;
    color: aqua;
}